@model WeCare_PU.Entities.DemandeAdhesion

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DemandeAdhesion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Demande)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Demande)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Association)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Association.Discriminator)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DemandeAdhesionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
